view {
  font-size: 30rpx;
  color: #666;
}

page {
  background: #f5f5f5;
  height: 100%;
}

.container {
  position: relative;
  background: #ffffff;
}

.hidden_text_singel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color_bold {
  font-weight: bold;
  color: rgb(17, 13, 13);
}

.hidden_text_m_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.no_data {
  font-size: 40rpx;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #8b8b8b;
  padding-top: 20rpx;
  .iconfont {
    font-size: 40rpx;
  }
}

.loadMoreGif {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15rpx auto;
  width: 220rpx;
  text {
    font-size: 30rpx;
    color: #999;
    margin-left: 10rpx;
  }
  image {
    width: 30rpx;
    height: 30rpx;
  }
}

.hidden {
  display: none;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.marginT30 {
  margin-top: 30rpx;
}

.marginB30 {
  margin-bottom: 30rpx;
}

.marginB20 {
  margin-bottom: 20rpx;
}

.marginLR30 {
  margin-right: 30rpx;
  margin-left: 30rpx;
}

.marginLR20 {
  margin-right: 20rpx;
  margin-left: 20rpx;
}

.marginLR10 {
  margin-right: 10rpx;
  margin-left: 10rpx;
}

.marginR20 {
  margin-right: 20rpx;
}

.marginL20 {
  margin-left: 20rpx;
}

.c666 {
  color: #666;
}

.c333 {
  color: #333;
}

.c000 {
  color: #000;
}

.red {
  color: red;
}

.oringe {
  color: rgb(228, 201, 50);
}

.c999 {
  color: #999;
}

.cfff {
  color: #ffffff;
}

.fz24 {
  font-size: 24rpx;
}

.fz25 {
  font-size: 25rpx;
}

.fz26 {
  font-size: 26rpx;
}

.fz27 {
  font-size: 27rpx;
}

.fz28 {
  font-size: 28rpx;
}

.fz29 {
  font-size: 29rpx;
}

.fz30 {
  font-size: 30rpx;
}

.fz31 {
  font-size: 31rpx;
}

.fz32 {
  font-size: 32rpx;
}

.type_red {
  background: #ea4a3a;
  color: #fff;
}

.type_yellow {
  background: #ff6a3c;
  color: #fff;
}

.type_green {
  background: #09bb07;
  color: #fff;
}

.type_pick {
  background: #ff4856;
  color: #fff;
  border: 1px solid #ff4856;
}

.type_empity {
  color: #333;
  border: 1px solid #cccccc;
}

.button {
  font-size: 36rpx;
  height: 95rpx;
  line-height: 95rpx;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  -moz-border-radius: 10rpx;
  /* Firefox */
  -webkit-border-radius: 10rpx;
  /* Safari 和 Chrome */
  border-radius: 10rpx;
  /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}

